<div class="bg-red">
    <div class="footer container">
        <div class="top d-flex">
        <div class="left">
            <ul class="nav d-flex pd-b">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="/index.html">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="/about.html">常見問題</a></li>
            </ul>
            <div class="contact h2 pd-b">
            <ul>
            <li><a href="tel:+"><img src="../assets/images/call_36dp_.png" alt="phone">0800-000-000</a></li>
            <li><a href="mailto:"><img src="../assets/images/mail_40dp_.png" alt="mail">glasses@business.com</a></li>
            </ul>
            </div>
        </div>
        <div class="right">
            <ul class="d-flex">
                <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig"></a></li>
                <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line"></a></li>
            </ul>
        </div>
        </div>
        <div class="copyright d-flex">
            <div class="text pd-b">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
            </div>
            <div class="privacy">
                <ul class="d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>