<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto&display=swap" rel="stylesheet">
</head>

<div class="bg-red">
    <div class="header container d-flex">
        <a href="index.html">
            <img class="logo" src="../assets/images/logo-white.png" alt="logo-white">
        </a>
        <ul class="nav d-flex">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="index.html">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="about.html">常見問題</a></li>
        </ul>
    </div>
</div>