a{
  color:white;
  text-decoration: none;
  display: block;
}

a:hover{
  color:black;
}

.container{
  max-width: 1320px;
  margin:0 auto;
  padding: 0 12px;
}

.d-flex{
  display:flex;
}

.bg-red{
  background-color: #aa0601;
}

.header{
  justify-content: space-between;
  margin-bottom: 96px;
}

.logo{
  width: 80px;
  padding: 16px 0;
}

.header .nav{
  width:492px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.pd-b{
  padding-bottom: 32px;
}