
.content{
  margin-bottom: 40px;
}

.title1{
  margin-bottom: 32px;
  border-left: 8px solid #9F1213;
  padding-left: 16px;
}


h1{
  font-size: 48px;
  font-weight: bold;
}

.h2{
  font-size: 36px;
}

.h3{
  font-size: 24px;
}

.area{
  align-items: center;
}

select{
 width: 307px;
 border: 1px solid #CED4DA;
 margin-left: 16px;
 padding: 6px 12px;
 cursor: pointer;
}

.custom-select {
  background-image: url("images/arrow_drop_down_24dp.png");
  background-position: right 0.5em top 50%, 0 0;
  background-size: contain, cover;
  background-repeat: no-repeat, repeat;
}

.colum {
  margin-bottom: 32px;
}

.store{
  flex-wrap: wrap;
  margin: 0 -12px;
}

.card{
  width:33.3333%;
  padding: 0 12px;
  margin-bottom: 48px;
}

.info{
  border: 1px solid #00000020;
}

.title3{
  padding: 8px 24px;
  border-bottom: 1px solid #00000020;
}

.info ul{
  padding: 8px 24px;
}

.info li{
  font-size: 20px;
  padding-bottom: 8px;
}

.info img{
  max-width:18px;
  margin-right: 8px;
}

.card .btn{
  font-size: 19px;
  background-color: black;
  text-align: center;
}

.card .btn a{
  padding: 16px 0;
  color:white;
  text-decoration: none;
  display: block;
}

.card .btn a:hover{
  background-color: #aa0601;
}